


*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
  
}

 body{
  background-color: lightgray; 
  
  


}



 

.navbar{
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex ;
    align-self: center;
}

.navlogo{
    height: 60px;
    width: 200px;
    margin-left: 10px;
    margin-top: 5px;
    
   
    
}

.logo{
    height: 60px;
    max-width: 100%;
    background-image: url("assests/white\ logo.png");
    background-size: cover;
    margin-top: 8px; 
    
}


 /* /* .border:hover{
    border: 1px solid white; 
 } */

 .state{
    height: 50%;
     color: white;
     margin-top: 8px;
     margin-inline-start: 20px;
     
 }


 .searchbar{
    height: 40px;
    width: 50%;
    background-color:white ;
    margin-inline-start: 20px ;
    margin-top: 8px;
    display: flex;
 }

 #search{
    background-color: lightgrey;
    height: 40px;
    width: 50px;
 }

 #inputsearch{
    width: 90%;
 }

 #searchsize{
    width: 4%;
    background-color: rgb(241, 209, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
 }

 .language{
    height: 25px;
    width: 33px;
    background-color: yellow;
    margin-inline-start: 20px;
    margin-top: 18px;
 }

  .americalogo{
    height: 25px;
    width: 100%;
    background-image: url("assests/americaflag.png");
    background-size: cover;
   
  }


  #languageoption{
    margin-inline-start: 35px;
    margin-top: 5px;
    margin-right: -4px;
    background-color: black;
    color: white;
    border: none;
  }

  .hello{
   height: 5px;
   width: 100px;
   color: white;
   margin-inline-start: 180px;
   font-size: small;
   margin-top: 13px;
  }

  #sign{
   background-color: black;
   color: aliceblue;
   height: 30px;
   width: 100%px;
   margin-top: 30px;
   margin-inline-start: -120px;
   border: none;
   font-size: medium ;
  }

  .return{
   color: white;
   margin-inline-start: 80px;
   margin-top: 14px;
   font-size: smaller;
  }


  .order{
   color: white;
   margin-top: 30px;
   position: relative;
   left: -50px;
   bottom: -6px;
   
  }

  .addtocart{
   
   height: 70px;
   width: 100px;
     
  } 

  .add{
   height:70px ;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   font-size: 30px;
   color: white;
  }

         /* part 2 */
      
    .colordiv{
      background-color:#222c2c;
      height: 30px;
    }
     
    #all{
      position: absolute;
      left: 5px;
    }
     
     .a{
      color: aliceblue;
      text-decoration: none;
       padding: 20px; 
       position: relative;
       top: 5px;
       
     }

             /* Part 3 */
      .container{
         height: 400px;
         background-color: yellow;
      }
    .containerphoto{
      height: 400px;
      width: 100%;
      background-image: url("assests/hero_image.jpg");
      background-size: cover;
    }

    .instruction{
      height: 40px;
      width: 60%;
      background-color: white;
      position: relative;
      top: -60px;
      left: 20%;
    }

    .para{
      text-align: center;
      position: relative;
      top: 10px;

    }

    .paracolor{
      text-decoration: none;
      color: darkcyan;
    }
 

        /* main body part 1 */

        .box1{
          background-color: white;
          height: 400px;
          width: 350px;
          margin-left: 95px;
          margin-top: 30px;
        }
      
        .style{
            text-align: center;
            position: relative;
            top: 5px;

        }

        .seemore{
         position: relative;
         bottom: -350px;
          left: 30px;
          text-decoration: none;
          color: rgb(15, 133, 93);

        }
       
        .box1color{
           height: 300px;
           width: 290px;
           background-color: green;
           position: relative;
           right: -25px;
           top: 15px;
            background-image: url("assests/box1_image.jpg");
            background-size: cover;
        }
             
        

             /* box 2 */

            
            
             .box2{
              background-color: white;
              height: 400px;
              width: 350px;
              margin-left: 95px;
              margin-top: 25px;
              
            }
          
            .style2{
                text-align: center;
                position: relative;
                top: 5px;
    
            }
    
            .seemore2{
             position: relative;
             bottom: -350px;
              left: 30px;
              text-decoration: none;
              color: rgb(15, 133, 93);
    
            }
           
            .box1color2{
               height: 300px;
               width: 290px;
               background-color: green;
               position: relative;
               right: -25px;
               top: 15px;
                background-image: url("assests/box5_image.jpg");
                background-size: cover;
            }

                    /* box 3 */

                  .box3{
                    background-color:white;
                    height: 400px;
                     width: 370px;
                     position: relative;
                     left: 510px;
                     top: -824px;
                  }

                  .style3{
                    text-align: center;
                    position: relative;
                    top: 5px;
                  }

                  .seemore3{
                    text-decoration: none;
                    color: rgb(15, 133, 93);
                    position: relative;
                    bottom: -350px;
                    left: 30px;
                  }

                  .boxcolor3{
                    height: 300px;
                    width: 310px;
                   background-color: green;
                   position: relative;
                   right: -25px;
                    top: 15px;
                    background-image: url("assests/box2_image.jpg");
                   background-size: cover;
                  }

                  /* box 4 */

                  .box4{
                    background-color:white;
                    height: 400px;
                     width: 370px;
                     position: relative;
                     left: 510px;
                     top: -800px;
                  }

                  .style4{
                    text-align: center;
                    position: relative;
                    top: 5px;
                  }

                  .seemore4{
                    text-decoration: none;
                    color: rgb(15, 133, 93);
                    position: relative;
                    bottom: -350px;
                    left: 30px;
                  }

                  .boxcolor4{
                    height: 300px;
                    width: 310px;
                   background-color: green;
                   position: relative;
                   right: -25px;
                    top: 15px;
                    background-image: url("assests/box6_image.jpg");
                   background-size: cover;
                  }


                    /* box 5 */
            

                  .box5{
                    bac    width: 310px;
                    background-color: green;
                    position: relative;
                    right: -25px;
                     top: 15px;
                     background-image: url("assests/box6_image.jpg");
                    background-size: cover;
                   }
 
 
                     /* box 5 */
             
 
                   .box5{
                     background-color:white;
                     height: 400px;
                      width: 370px;
                      position: relative;
                      left: 945px;
                      top: -1623px;
                   sition: relative;
                    top: 5px;
                  }

                  .seemore5{
                    text-decoration: none;
                    color: rgb(15, 133, 93);
                    position: relative;
                    bottom: -350px;
                    left: 30px;
                  }

                  .boxcolor5{
                    height: 300px;
                    width: 310px;
                   background-color: green;
                   position: relative;
                   right: -25px;
                    top: 15px;
                    background-image: url("assests/box3_image.jpg");
                   background-size: cover;
                  }


                    /* box 6 */
            

                    .box6{
                      background-color:white;
                      height: 400px;
                       width: 370px;
                       position: relative;
                       left: 945px;
                       top: -1600px;
                    }
  
                    .style6{
                      text-align: center;
                      position: relative;
                      top: 5px;
                    }
  
                    .seemore6{
                      text-decoration: none;
                      color: rgb(15, 133, 93);
                      position: relative;
                      bottom: -350px;
                      left: 30px;
                    }
  
                    .boxcolor6{
                      height: 300px;
                      width: 310px;
                     background-color: green;
                     position: relative;
                     right: -25px;
                      top: 15px;
                      background-image: url("assests/box7_image.jpg");
                     background-size: cover;
                    }
                  

                    /* box 7 */
            

                    .box7{
                      background-color:white;
                      height: 400px;
                       width: 370px;
                       position: relative;
                       left: 1390px;
                       top: -2425px;
                    }
  
                    .style7{
                      text-align: center;
                      position: relative;
                      top: 5px;
                    }
  
                    .seemore7{
                      text-decoration: none;
                      color: rgb(15, 133, 93);
                      position: relative;
                      bottom: -350px;
                      left: 30px;
                    }
  
                    .boxcolor7{
                      height: 300px;
                      width: 310px;
                     background-color: green;
                     position: relative;
                     right: -25px;
                      top: 15px;
                      background-image: url("assests/box4_image.jpg");
                     background-size: cover;
                    }

                       /* box 8 */

                    .box8{
                      background-color:white;
                      height: 400px;
                       width: 370px;
                       position: relative;
                       left: 1390px;
                      top: -2400px;
                    }
  
                    .style8{
                      text-align: center;
                      position: relative;
                      top: 5px;
                    }
  
                    .seemore8{
                      text-decoration: none;
                      color: rgb(15, 133, 93);
                      position: relative;
                      bottom: -350px;
                      left: 30px;
                    }
  
                    .boxcolor8{
                      height: 300px;
                      width: 310px;
                     background-color: green;
                     position: relative;
                     right: -25px;
                      top: 15px;
                      background-image: url("assests/box8_image.jpg");
                     background-size: cover;
                    }

                    /* part 5 */
                    
               

              .mixcontainer{
                background-color: white;
                height: 350px;
                width: 88%;
                position: relative;
                top: -2370px;
                right: -89px;

               
                
              }

              .deals{
                position: relative;
                top: 10px;
                left: 10px;
              }

              .shop{
                text-decoration: none;
                color: rgb(15, 133, 93);
                position: relative;
                left: 250px;
                top: -5px;
              }


              .mixbox1{
                 background-color: rgb(223, 233, 235);
                 height: 250px;
                 width: 350px;   
                 position: relative;
                 top: 10px;
                  left: 20px; 
                 background-image: url("assests/image10.jpg");
                 background-size: 500px;
                 
              }
             
              .mixbox2{
                background-color: rgb(233, 243, 246);
                height: 270px;
                width: 350px;   
                position: relative;
                top: -250px;
                left: 400px; 
                background-image: url("assests/image11.jpg");
                background-size: cover;
                
                
             }

             .mixbox3{
              background-color: rgb(223, 236, 238);
              height: 290px;
              width: 300px;   
              position: relative;
              top: -530px;
              left: 800px; 
              background-image: url("assests/image12_.jpg");
              background-size: cover;
              
              
           }

           .mixbox4{
            background-color: rgb(220, 230, 232);
            height: 290px;
            width: 350px;   
            position: relative;
            top: -830px;
            left: 1150px; 
            background-image: url("assests/image13.jpg");
            background-size: cover;
            
            
         }

         .mixbox5{
          background-color: rgb(227, 238, 240);
          height: 260px;
          width: 150px;   
          position: relative;
          top: -1100px;
          left: 1500px; 
          background-image: url("assests/image14.jpg");
          background-size: cover;
          
          
       }
       
       /* prize name */
       .off{
        background-color: red;
        height: 20px;
        width: 70px;
        position: relative;
        top: 10px;
        left: 10px;
        border-radius: 10%;
       }

       .offcolor{
        color: white;
        text-align: center;
       }

       /* part5 */
       .mobile{
        background-color: white;
        height: 300px;
        width: 1675px;
        position: relative;
        top: -2340px;
        left: 90px;
       }
           .popularmobile{
            position: relative;
            left: 15px;
            top: 15px;
           }       
                  

           .mobile1{
            background-color: gainsboro;
            height: 230px;
            width: 190px;
            position: relative;
            left: 40px;
            top: 30px;
            background-image: url("assests/image15_.jpg");
            background-size: cover;
           }


           .mobile2{
            background-color: gainsboro;
            height: 230px;
            width: 190px;
            position: relative;
            left: 250px;
            top: -200px;
            background-image: url("assests/image16_.jpg");
            background-size: cover;
           }

           .mobile3{
            background-color: gainsboro;
            height: 240px;
            width: 150px;
            position: relative;
            left: 460px;
            top: -440px;
            background-image: url("assests/image17_.jpg");
            background-size: cover;
           }

           .mobile4{
            background-color: gainsboro;
            height: 240px;
            width: 160px;
            position: relative;
            left: 640px;
            top: -690px;
            background-image: url("assests/image18_.jpg");
            background-size: cover;
           }


           .mobile5{
            background-color: gainsboro;
            height: 250px;
            width: 170px;
            position: relative;
            left: 840px;
            top: -930px;
            background-image: url("assests/image19_.jpg");
            background-size: cover;
           }


           .mobile6{
            background-color: gainsboro;
            height: 240px;
            width: 200px;
            position: relative;
            left: 1060px;
            top: -1170px;
            background-image: url("assests/image20_.jpg");
            background-size: cover;
           }

           .mobile7{
            background-color: gainsboro;
            height: 240px;
            width: 220px;
            position: relative;
            left: 1290px;
            top: -1410px;
            background-image: url("assests/image21_.jpg");
            background-size: cover;
           }

           .mobile8{
            background-color: gainsboro;
            height: 280px;
            width: 100px;
            position: relative;
            left: 1550px;
            top: -1680px;
            background-image: url("assests/image22_.jpg");
            background-size: cover;
           }


           .border{
            border: 0.1px solid rgb(51, 50, 50);
            height: 200px;
            width: 100%;
            position: relative;
            top: -2300px;
           }

           .sign{
            background-color: rgb(212, 212, 46);
            height: 40px;
            width: 280px;
            border-radius: 10%;
            position: relative;
            left: 760px;
            top: 90px;
            border:1px solid lightcoral;
            text-align: center;
           }

           .signdecoration{
                text-decoration: none;
                color: black;
                position: relative;
                top: -5px;

           }

           .personal{
            position: relative;
            top: -20px;
           }

           .new{
            position: relative;
            top: 5px;
           }

           .start{
            text-decoration: none;
            color: black;
           }
             
             /* footer */
            

            
            
